src/xsd/address.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="street" type="xs:string" />
      <xs:element name="zip" type="xs:string" />
      <xs:element name="zipcode" type="xs:string" />
      <xs:element name="city" type="xs:string" />
      <xs:element name="country" type="xs:string" />
      <xs:element name="url_streetview" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
