src/xsd/bank.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bank">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="iban" type="xs:string" />
      <xs:element name="swift" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
