src/xsd/checkInOut.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CheckInOut">
    <xs:sequence>
      <xs:element name="from" type="xs:string" />
      <xs:element name="to" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
