src/xsd/contact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element name="email" type="xs:string" />
      <xs:element name="phone" type="xs:string" />
      <xs:element name="fax" type="xs:string" />
      <xs:element name="web" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
