src/xsd/day.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="restrictions.xsd" />
  <xs:complexType name="Day">
    <xs:sequence>
      <xs:element name="date" type="xs:date" />
      <xs:element name="free" type="xs:integer" />
      <xs:element name="restrictions" type="Restrictions" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
