src/xsd/error.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element name="code" type="xs:integer" />
      <xs:element name="message" type="xs:string" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
