src/xsd/geolocation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Geolocation">
    <xs:sequence>
      <xs:element name="latitude" type="xs:double" />
      <xs:element name="longitude" type="xs:double" />
      <xs:element name="altitude" type="xs:integer" />
      <xs:element name="distance" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
