src/xsd/getHotelList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="getHotelList">
  <xs:include schemaLocation="header.xsd" />
  <xs:include schemaLocation="hotel.xsd" />
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="Header" />
        <xs:element name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="hotel" type="Hotel" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
