src/xsd/header.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="error.xsd" />
  <xs:include schemaLocation="paging.xsd" />
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element name="error" type="Error" />
      <xs:element name="result_id" type="xs:string" />
      <xs:element name="source" type="xs:string" />
      <xs:element name="paging" type="Paging" />
      <xs:element name="time" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
