src/xsd/locationName.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LocationName">
    <xs:sequence>
      <xs:element name="name_city" type="xs:string" />
      <xs:element name="name_community" type="xs:string" />
      <xs:element name="name_region" type="xs:string" />
      <xs:element name="name_area" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
