src/xsd/location.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element name="id_city" type="xs:integer" />
      <xs:element name="id_community" type="xs:integer" />
      <xs:element name="id_region" type="xs:integer" />
      <xs:element name="id_area" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
