src/xsd/ltsData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LtsData">
    <xs:sequence>
      <xs:element name="A0Ene" type="xs:integer" />
      <xs:element name="A0MTV" type="xs:integer" />
      <xs:element name="A0Rep" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
