src/xsd/occupancy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Occupancy">
    <xs:sequence>
      <xs:element name="min" type="xs:integer" />
      <xs:element name="max" type="xs:integer" />
      <xs:element name="std" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
