src/xsd/onlinePayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="bank.xsd" />
  <xs:complexType name="OnlinePayment">
    <xs:sequence>
      <xs:element name="methods" type="xs:integer" />
      <xs:element name="prepayment" type="xs:integer" />
      <xs:element name="ccards" type="xs:integer" />
      <xs:element name="bank" type="Bank" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
