src/xsd/paging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paging">
    <xs:sequence>
      <xs:element name="count" type="xs:integer" />
      <xs:element name="total" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
