src/xsd/picture.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element name="url" type="xs:string" />
      <xs:element name="time" type="xs:integer" />
      <xs:element name="title" type="xs:string" />
      <xs:element name="copyright" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
