src/xsd/properties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Properties">
    <xs:sequence>
      <xs:element name="area" type="xs:integer" />
      <xs:element name="bed_rooms" type="xs:integer" />
      <xs:element name="living_rooms" type="xs:integer" />
      <xs:element name="dining_rooms" type="xs:integer" />
      <xs:element name="bath_rooms" type="xs:integer" />
      <xs:element name="min" type="xs:integer" />
      <xs:element name="max" type="xs:integer" />
      <xs:element name="std" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
