src/xsd/rating.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rating">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="provider" type="xs:string" />
      <xs:element name="value" type="xs:double" />
      <xs:element name="count" type="xs:integer" />
      <xs:element name="date" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
