src/xsd/roomDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoomDetail">
    <xs:sequence>
      <xs:element name="number" type="xs:string" />
      <xs:element name="availability" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
