src/xsd/root.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="header.xsd" />
  <xs:include schemaLocation="result.xsd" />
  <xs:complexType name="Root">
    <xs:sequence>
      <xs:element name="header" type="Header" />
      <xs:element name="result" type="Result" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
