src/xsd/season.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="price.xsd" />
  <xs:complexType name="Season">
    <xs:sequence>
      <xs:element name="date_start" type="xs:date" />
      <xs:element name="date_end" type="xs:date" />
      <xs:element name="price" type="Price" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
